html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  background-image: url('./soccer-background.png');
  background-size: cover;
}

#header-font {
  font-size: 5em;
}

.no-bullet-points {
  list-style: none;
}

.top-nav {
  text-align: center;
  padding: 1.5em 0;
}

.scoreboard {
  display: flex;
  justify-content: space-around;
  padding: 2em 0 7.5em 0;
}

.team-score-divider {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#team-1-score-output {
  font-size: 4em;
}

#team-2-score-output {
  font-size: 4em;
}

.update-container {
  display: flex;
  justify-content: space-evenly;
  padding-right: 4em;
}

.update-team-1 {
  width: 33%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,.5);
}

.update-team-2 {
  width: 33%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,.5);
}

.update-team-name {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
}

.update-team-score {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
}

.white-text {
  color: white;
}

.leader-container {
  display: flex;
  justify-content: center;
  padding-right: 4em; 
}

.leader-rank {
  display: flex;
  justify-content: center;
  background-color: rgba(0,0,0,.5);
  margin-top: 4em;
  height: 7em;
}

.leader-rank-output-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1em 2em;
  margin: 0;
}